
build/
dist/
debug/
nbproject/private/
nbproject/Makefile-*
nbproject/configurations.xml
*.elf
*.hex
*.cof
*.map
*.o
*.d
*.lst
*.s

*.pset
*.layout
*.err
*.dout
*.p1
*.sdb
*.sdf
*.sdfgen

*.log

*.bak
*.swp
*.tmp
*.~*
